<div class="container">
  <div class="row">
    <div class="col-md-10 center-block" style="float: none">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit</h3>
        </div>
        <div class="panel-body">
          <%= devise_error_messages! %>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

            <fieldset>

            <% if params[:match]!="true" %>

              <div class="form-group">
                <%= f.email_field :email, :class => "form-control", :placeholder => "E-mail", :autofocus => true%>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-group">
                <%= f.password_field :password, :class => "form-control", :autocomplete => "off", :placeholder => "Password (leave blank if you don't want to change it)"%>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password confirmation (leave blank if you don't want to change it)"%>
              </div>
              <div class="form-group">
                <%= f.text_field :first_name, :class => "form-control", :placeholder => "First Name (Optional)"%>
              </div>
              <div class="form-group">
                <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name (Optional)"%>
              </div>
              <div class="form-group">
                <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Phone Number (optional, numbers only)"%>
              </div>
              <div class="form-group">
                <%= f.text_field :company_name, :class => "form-control", :placeholder => "Company Name (optional)"%>
              </div>
              <div class="form-group">
                <%= f.password_field :current_password, :class => "form-control", :autocomplete => "off", :placeholder => "Current Password (Only needed if password/email changed)" %>
              </div>

              <div class="form-group">
                <%= f.hidden_field :matching, :value => "false" %>
              </div>

              <% else %>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :gender, "What is your gender?" %>
                        <%= f.select :gender, {"Other" => "Other", "Male" => "Male", "Female" => "Female"}, :class => "form-control" %>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :language_spoken, "What language do you mainly speak?" %>
                        <%= f.select :language_spoken, {"English" => "English", "Spanish" => "Spanish", "French" => "French", "Cantonese" => "Cantonese", "Mandarin" => "Mandarin"}, :class => "form-control" %>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :smoker, "Are you a smoker?" %>
                        <%= f.select :smoker, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :smoker_accepted, "Would you live with a smoker?" %>
                        <%= f.select :smoker_accepted, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :pets, "Do you have pets?" %>
                        <%= f.select :pets, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :pets_accepted, "Would you live with someone who has pets?" %>
                        <%= f.select :pets_accepted, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :bed_before_11pm, "Do you go to bed before 11pm?" %>
                        <%= f.select :bed_before_11pm, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :bed_before_11pm_accepted, "Accepted Answers:" %>
                        <%= f.check_box :bed_before_11pm_accepted, { :multiple => true }, "Yes" %>
                        <label for="user_bed_before_11pm_accepted_yes">Yes</label>
                        <%= f.check_box :bed_before_11pm_accepted, { :multiple => true }, "No" %>
                        <label for="user_bed_before_11pm_accepted_no">No</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :wake_before_9am, "Do you go to wake up before 9am?" %>
                        <%= f.select :wake_before_9am, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :wake_before_9am_accepted, "Accepted Answers:" %>
                        <%= f.check_box :wake_before_9am_accepted, { :multiple => true }, "Yes" %>
                        <label for="user_wake_before_9am_accepted_yes">Yes</label>
                        <%= f.check_box :wake_before_9am_accepted, { :multiple => true }, "No" %>
                        <label for="user_wake_before_9am_accepted_no">No</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :music_often, "Do you play music often?" %>
                        <%= f.select :music_often, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :music_often_accepted, "Accepted Answers:" %>
                        <%= f.check_box :music_often_accepted, { :multiple => true }, "Yes" %>
                        <label for="user_music_often_accepted_yes">Yes</label>
                        <%= f.check_box :music_often_accepted, { :multiple => true }, "No" %>
                        <label for="user_music_often_accepted_no">No</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :visitors_often, "Do you have visitors over often?" %>
                        <%= f.select :visitors_often, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :visitors_often_accepted, "Accepted Answers:" %>
                        <%= f.check_box :visitors_often_accepted, { :multiple => true }, "Yes" %>
                        <label for="user_visitors_often_accepted_yes">Yes</label>
                        <%= f.check_box :visitors_often_accepted, { :multiple => true }, "No" %>
                        <label for="user_visitors_often_accepted_no">No</label>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-group">
                        <%= f.label :social, "Do you think the house is mainly for socializing?" %>
                        <%= f.select :social, {"Yes" => true, "No" => false}, :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :social_accepted, "Accepted Answers:" %>
                        <%= f.check_box :social_accepted, { :multiple => true }, "Yes" %>
                        <label for="user_social_accepted_yes">Yes</label>
                        <%= f.check_box :social_accepted, { :multiple => true }, "No" %>
                        <label for="user_social_accepted_no">No</label>
                      </div>
                    </li>
                  </ul>

              <div class="form-group">
                <%= f.hidden_field :matching, :value => "true" %>
              </div>

              <% end %>

          <div><%= f.submit "Update", :class=>"btn btn-lg btn-success btn-block" %></div>
            </fieldset>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<% if params[:match]!="true" %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class=>"btn btn-danger" %></p>

<% end %>

<%= link_to "Back", :back%>
