<% title "Roommate Matching" %>

<% if @user.survey_completed %>
    <table class="table table-striped">

    <% User.all.each do |u| %>
        <% if u.email != @user.email %>
            <% if u.survey_completed == TRUE %>
                <% @i = 0 %>
                <% if u.gender == @user.gender %>
                    <% @i += 1 %>
                <% end %>
                <% if u.language_spoken == @user.language_spoken %>
                    <% @i += 1 %>
                <% end %>
                <% if u.smoker == @user.smoker %>
                    <% @i += 1 %>
                <% end %>
                <% if u.pets == @user.pets %>
                    <% @i += 1 %>
                <% end %>
                <% if u.bed_before_11pm == @user.bed_before_11pm %>
                    <% @i += 1 %>
                <% end %>
                <% if @user.bed_before_11pm_accepted.include?(u.bed_before_11pm ? "Yes" : "No") %>
                    <% @i += 1 %>
                <% end %>
                <% if u.wake_before_9am == @user.wake_before_9am %>
                    <% @i += 1 %>
                <% end %>
                <% if @user.wake_before_9am_accepted.include?(u.wake_before_9am ? "Yes" : "No") %>
                    <% @i += 1 %>
                <% end %>
                <% if u.music_often == @user.music_often %>
                    <% @i += 1 %>
                <% end %>
                <% if @user.music_often_accepted.include?(u.music_often ? "Yes" : "No") %>
                    <% @i += 1 %>
                <% end %>
                <% if u.visitors_often == @user.visitors_often %>
                    <% @i += 1 %>
                <% end %>
                <% if @user.visitors_often_accepted.include?(u.visitors_often ? "Yes" : "No") %>
                    <% @i += 1 %>
                <% end %>
                <% if @i > 6 %>
                    <% if u.fb_photo_url != nil %>
                        <tr><td><img src="<%= u.fb_photo_url %>" width="100" height="80"></td>
                          <td><a href="/viewuser?id=<%=u.id%>"><%=u.email%></a> matched you <%= ((@i/12.0)*100).to_int %>%</td></tr>
                    <% else %>
                        <tr><td><img src="http://robertrosenthal.typepad.com/photos/uncategorized/ist_2.jpg" width="100" height="80"></td>
                          <td><a href="/viewuser?id=<%=u.id%>"><%=u.email%></a> matched you <%= ((@i/12.0)*100).to_int %>%</td></tr>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
        </table>
<% else %>
    <META http-equiv="refresh" content="10;URL=/users/edit?match=true">
    <p> You have not completed the roommate matching survey. You will be redirected in 10 seconds or you can click <a href="/users/edit?match=true">here</a> to go directly.</p>
<% end %>