<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Advanced Search</a>
        </h4>
      </div>
    </div>
    <div class="panel-collapse collapse in" id="collapseOne">
      <div class="panel-body">
        <div class="well">
          <form id="advanced_form" action="/" method="get" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="unit-ad-headline">Unit Ad Title</label>
                  <input id="unit-ad-headline" class="form-control" placeholder="Search Ad Title" name="search[ad_headline]" value="<%= params[:search][:ad_headline] %>" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="unit-info">Unit Description</label>
                  <input id="unit-ad-content" class="form-control" placeholder="Search Description" name="search[ad_content]" value="<%= params[:search][:ad_content] %>" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="unit-info">City</label>
                <%=
                    if params[:search][:state_id].nil?
                      options = City.order(:name)
                      else
                      options = City.where(state_id: params[:search][:state_id]).order(:name)
                    end
                    select_tag "search[city_id]", options_from_collection_for_select(options, :id, :name, params[:search][:city_id]), class: "form-control", :prompt => "Select City"
                %>
              </div>
              <div class="col-md-6">
                <label for="unit-info">State</label>
                <%= select_tag "search[state_id]", options_from_collection_for_select(State.order(:name), :id, :name, params[:search][:state_id]), class: "form-control", :prompt => 'Select State' %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6">
                <div class="form-inline">
                  <label for="unit-info">Price range</label>
                  <input id="unit-ad-content" class="form-control" placeholder="Rent min" name="search[rent_min]" value="<%= params[:search][:rent_min] %>" />
                  <input id="unit-ad-content" class="form-control" placeholder="Rent max" name="search[rent_max]" value="<%= params[:search][:rent_max] %>" />
                </div>
              </div>
              <div class="col-md-6">

              </div>
            </div>
            <br />
            <button class="btn btn-danger" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function() {
    $("#search_state_id").change(function() {
       $("#advanced_form").submit();
    });
  });
</script>