  <% title "Homepage" %>
  <div class="content">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @show_advanced %>
          <div class="row">
            <div class="col-md-12">
              <%= render partial: 'units/advanced' %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4 results">
            <%= total_found(@units) %>
          </div>
          <div class="col-md-4">
            <a href="<%= request.original_url + "&map_view=1" %>"><button class="btn btn-primary">Map View</button></a>
          </div>
        </div>
        <div class="row">
          <% if @units.respond_to?(:facets) && @units.facets.present? %>
            <div class="col-md-2">
              <%= render partial: 'units/facets', locals: {total: @units.total} %>
            </div>
          <% end %>
          <div class="<%= (@units.respond_to?(:facets) && @units.facets.present? ? 'col-md-10' : 'col-md-12') %>">
            <%= render partial:'units/serp' %>
            <tr>
              <td colspan="2">
                <%= paginate @units %>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
